body{
	background-color: gray;
}

button{
	background-color: powderblue;
	border-radius: 8px;
	height: 50px;
	width:60px;
}

button:hover{
	background-color: pink;

}
input{
	height: 40px;
	width: 250px;
	border-radius: 10px;
	margin-left: 40%;
	
}
.isbog{
	padding-left: 40%;
}

#movetop{
	padding-top: 17%;
}
